.app {
  list-style-type: none;
  display: inline-flex;
  flex-flow: wrap;
  width: 100%;
  padding-left: 0;
  gap: 30px;
  margin: 0;
}
.app__header {
  // width: 322px;
  height: 36px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  color: $color-black;
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 24px;
  display: flex;

  @media screen and (min-width: $mobile) {
  font-size: 18px;
    
}
}
.app__description {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  color: $color-grey;
  margin: 0;
  padding-bottom: 20px;
  text-align: start;
  padding-left: 24px;
}

/* HW 03 */

.box__image {
  box-sizing: border-box;
  background-color: $color-white;
  justify-content: center;
  text-align: center;
  margin: 0;
  gap: 30px;
}
.app__box {
  border: 1px solid #eeeeee;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  

    @media screen and (min-width:$mobile) {
      width: 450px;
    }

    @media screen and (min-width: $tablet) {
    width: 354px;  
}
  
  @media screen and (min-width: $desktop) {
    width: 370px;  
}

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }
}
// .app__box:hover {
//   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
//     1px 4px 6px rgba(0, 0, 0, 0.16);
//   cursor: pointer;
// }


/* Hw 04 */

.box__logo {
  width: 290px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    border-color: $color-blue;
    cursor: pointer;
  }

   @media screen and (min-width: $mobile) {
  width: 210px;
   }
    @media screen and (min-width: $tablet) {
  width: 226px;
  }
  @media screen and (min-width: $desktop) {
  width: 170px;
  
  }
}
.box__logo__icon {
  fill: $logo;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.box__logo:hover .box__logo__icon {
  fill: $color-blue;
}

.overlay {
  width: 100%;
  height: 100%;
  // height: 294px;
  position: relative;
  overflow: hidden;
  display: flex;
}
.app__content {
  color: $color-white;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-align: left;
  padding: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  top: 100%;
  transition: top 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
  @media screen and (min-width: $mobile) {
    padding-inline: 24px;
    padding-block: 77px;
  font-size: 18px; 
  }
  
  @media screen and (min-width: $tablet) {
    padding-block: 49px;
    
  }
}
.box__image:hover .app__content {
  top: 0;
}
