.box {
  gap: 30px;
  justify-content: center;
  margin: auto;

  &__feature {

    @media screen and (min-width: $mobile) {
      max-width: 450px;
    }
       @media screen and (min-width: $tablet) {
      max-width: 354px;
    }
       @media screen and (min-width: $desktop) {
      max-width: 270px;
    }
  }
}

.box__feature {
  &__svg {
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
    display: flex;
    width: 100%;
    
    @media screen  and (min-width: $mobile) {
      max-width: 450px;
    }
        @media screen  and (min-width: $tablet) {
      max-width: 354px;
    }
        @media screen  and (min-width: $desktop) {
      width: 270px;
    }
  }
  &__svg--icon {
    margin: auto;
    width: 70px;
    height: 70px;
  }
}

.box__feature {
  &__header {
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    color: $color-black;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 10px;

    @media screen and (min-width: 320px) {
      text-align: center;
    }
  }
  &__description {
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    color: $color-grey;
    margin: 0;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
