.footer {
  background-color: $color-dark-grey;

  @media screen and (min-width: $desktop) {
    display: flex;
  }
  &__wrapper {
    padding-block: 60px;
    display: flex;
    flex-wrap: wrap;

     justify-content: center;
     text-align: center;
     gap: 60px;

     @media screen and (min-width: $tablet) {
      justify-content: space-around;
     }

     @media screen and (min-width: $desktop) {
      display: flex;
      flex-wrap: nowrap;
      text-align: left;
      justify-content: space-between;
     }
  
  }

}

.footer {
  &__logo {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: $color-blue;
  }

  &__address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    list-style-type: none;
    color: #ffffff;
    padding-left: 0;
    margin: 0;
    margin-top: 20px;
   
    @media screen and (min-width: $desktop) {
      width: 246px;
    }
  }
}
.footer__logo .footer__studio {
  color: $color-white;
}
.footer__contact {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.footer__contact__item {
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  margin-block: 9px;
}
.footer__social-media {
  padding-top: 0;
  
  @media screen and (min-width: $desktop) {
    padding-top: 12px;
  }

  &__header {
    color: $color-white;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 20px;
  }
}
.social-media__wrapper--footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-media__icon--footer {
  fill: $color-white;
}
 .footer {

    &__newsletter {
    width: 100%;
    @media screen and (min-width: $desktop) {
      padding-top: 12px;
    }

  }

  &__fieldset {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    height: 50px;
    display: flex;
    margin: 0;
    padding: 0;
    display: flex;
    width: 450px;
    
    @media screen and (min-width: $desktop) {
      width: 358px;
    }
  }
}
.footer {
  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100vw;
    
    @media screen and (min-width: $mobile) {
      width: 450px;
    }
    @media screen and (min-width: $tablet) {
      margin: auto;
    }
    @media screen and (min-width: $desktop) {
      flex-wrap: nowrap;
      justify-content:left;
      margin: 0;
      width: 570px;
     
    }
  }
  &__input {
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0 auto;
    padding-left: 16px;
    color: $color-white;
    width: 100%;

    @media screen and (min-width:$desktop) {
      width: 358px;
    }

  }
}

.btn__send {
  margin: auto;
  margin-left: 24px;
}

.btn--send {
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 0;
}