.main-header {
  font-family: inherit;
  font-size: 36px;
  font-weight: 700;
  color: $color-black;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
  }
}
.box__label {
    height: 70px;
    width: 370px;
    display: flex;
    background: rgba(47 48 58 / 0.8);
    position: absolute;
    bottom: 0;
  
   &__header {
    margin: auto;
    color: $color-white;
  }
}
.box__we-do {
  position: relative;
}
.we-do-section {
  @media screen and (min-width: 320px) and (max-width: 1199px) {
    display: none;
  }
}
