.button {
  list-style-type: none;
  box-sizing: border-box;
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  flex-wrap: wrap;
  
  @media screen and (min-width:$tablet) {
    margin-bottom: 30px;
    justify-content: center;
  }
    @media screen and (min-width:$desktop) {
    margin-bottom: 50px;
    justify-content: center;
  }
}

.button__list-item {
  cursor: pointer;
  background: #f5f4fa;
  width: 122px;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  padding-inline: 22px;
  padding-block: 6px;
  line-height: 1.63;
  /* transition: color;
  transition: background-color;
  transition: box-shadow; */
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: $color-blue;
    color: $color-white;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.button.button__list-item:active {
  background: $color-blue;
  color: $color-white;
}
