.btn {
  width: 200px;
  height: 50px;
  background-color: $color-blue;
  border: 0;
  border-radius: 4px;
  color: $color-white;
  line-height: 1.87;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  padding-block: 10px;
  padding-left: 42px;
  padding-right: 28px;
  margin-left: 12px;

   @media screen and (max-width: $tablet) {
     margin-top: 20px;
     margin-left: 0;
    }
}
